<div class="animate__animated animate__fadeIn">
<h2>Por País</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" (onDebounce)="getSugerencias($event)" [placeholder]="placeholder" [termino]="termino"></app-pais-input>
    </div>
</div>

<ul class="list-group" *ngIf="mostrarSugerencia">
    <li class="list-group-item list-group-item.action" (click)="buscar(termino)">
        <small>Buscar</small> "{{termino}}"
    </li>

    <li *ngFor="let item of sugerencias" class="list-group-item list-group-item.action" >
        <a [routerLink]="['/pais', item.alpha2Code]">{{item.name}}</a>
    </li>
</ul>

<hr>

<div *ngIf="hayError" class="alert alert-danger">No e encontro nada con el término {{termino}}</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises] = "paises"></app-pais-tabla>
    </div>
</div>
</div>

