<form (ngSubmit)="buscar()">
    <input type="text" 
           name="termino" 
           id="" 
           [placeholder]="placeholder" 
           class="form-control" 
           autocomplete="off" 
           [(ngModel)]="termino"
           (input)="teclaPresionada()">
</form>

<ul class="list-group" *ngIf="mostrarSugerencia">
    <li class="list-group-item list-group-item.action">
        <small>Buscar</small> "{{termino}}"
    </li>

    <li *ngFor="let item of sugerencias" class="list-group-item list-group-item.action" >
        <a [routerLink]="['/pais', item.alpha2Code]">{{ tipoBusqueda==='PAIS'?item.name:item.capital + ', ' + item.name }}</a>
    </li>
</ul>
